.reveal ul.chapterlist {
  column-count: 2;
  column-gap: 60px;
  -moz-column-count: 2;
  -moz-column-gap: 60px;
  -webkit-column-count: 2;
  -webkit-column-gap: 60px;
  padding-bottom: 30px;
  display: block;
  width: 500px;
}

.reveal ul.chapterlist li:nth-of-type(3) {
  column-break-after: always;
  -webkit-column-break-after: always;
  -moz-column-break-after: always;
}

