table#bubbling {
	width: 180px;
	margin: 0 auto 0;
	border: 1px solid #FFF;
	border-collapse: collapse;
	cursor: pointer;
}

table#bubbling td {
	width: 40px;
	padding: 10px;
	text-align: center;
	border: 1px solid #333;
}

table#bubbling td:hover {
	background: #ccc;
}

#img-car { 
	transition: all 0.3s;
	opacity: 0.7; 
}
#img-car.zoom, #img-car.zoom { 
	opacity: 1.0; 
	transform: scale(1.3); 
	box-shadow: #888888 5px 5px 10px; 
}
