/* ELEMENTS */

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	counter-reset: chapter;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", Ubuntu, "Droid Sans", sans-serif, Meiryo;
	font-size: 1.6rem;
	margin: 0;
	margin-bottom: 5rem;
	margin-top: 20px;
	padding: 0;
	padding-top: 19rem;
}

a {
	color: #00c;
	text-decoration: none;
}

h1,
#toc,
#downloads,
.othercourses,
main {
	margin: 0 2.5rem;
}

.othercourses {
	font-style: italic;
}

#downloads p {
	margin: 0;
}

#downloads ul {
	margin-top: 0.3em;
}

main a:not([href*="http"], [href="#"], [href=""])::after {
	content: "🔗";
	font-size: smaller;
	position: relative;
	top: -0.5rem;
}

main pre a::after {
	content: none !important;
}

a:hover {
	text-decoration: underline;
}

code,
pre {
	max-width: 100%;
	width: 100%;
}

figure {
	line-height: 1.2;
	margin-left: 0;
	margin-bottom: 2rem;
	margin-top: 0;
}

figcaption {
	font-size: smaller;
	font-style: italic;
}

main>h1,
main>h2,
main>h3,
main>h4,
main>.pro>h1,
main>.pro>h2,
main>.pro>h3,
main>.pro>h4 {
	font-weight: normal;
	margin-bottom: 1em;
	margin-top: 1.3em;
	padding-bottom: 0.3em;
	width: fit-content;
}

main>h1,
main>.pro>h1 {
	line-height: 1.2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

main>h2,
main>.pro>h2 {
	border-bottom: 0.4rem double #ccc;
	counter-reset: subchapter;
	padding-bottom: 0.5rem;
}

main>h2::before,
main>.pro>h2::before {
	counter-increment: chapter;
	content: counter(chapter) ". ";
}

main>h3,
main>.pro>h3 {
	border-bottom: 0.2rem solid #ccc;
	counter-reset: subsubchapter;
}

main>h3::before,
main>.pro>h3::before {
	counter-increment: subchapter;
	content: counter(chapter) "." counter(subchapter) " ";
}

main>h4,
main>.pro>h4 {
	border-bottom: 1px dotted #ccc;
	counter-reset: subsubsubchapter;
	font-size: 1.4rem;
	text-transform: uppercase;
}

main>h4::before,
main>.pro>h4::before {
	counter-increment: subsubchapter;
	content: counter(chapter) "." counter(subchapter) "." counter(subsubchapter) " ";
}

main>h5::before,
main>.pro>h5::before {
	counter-increment: subsubsubchapter;
	content: counter(chapter) "." counter(subchapter) "." counter(subsubchapter) "." counter(subsubsubchapter) " ";
}

img,
iframe,
video {
	max-width: 100%;
}

mark {
	background-color: #FFCD00;
	font-weight: bold;
}

nav {
	background-color: #faf5e6;
	box-shadow: 0 0.5rem 1rem #ccc7;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 15;
}

table {
	border-collapse: collapse;
	caption-side: bottom;
	margin-bottom: 2rem;
}

table caption {
	font-size: 0.8em;
	text-align: left;
}

/* CLASSES */

/* general */

.hidden {
	display: none;
}

.title__anchor {
	margin-top: -100px;
	padding-bottom: 100px;
	display: block;
}

.bordered {
	border: 1px solid #999;
}

.endvisual {
	display: block;
	margin: 50px auto
}

.centered {
	text-align: center;
}

.h4 {
	border-bottom: 1px dotted #ccc;
	font-size: 1.4rem;
	font-weight: normal;
	margin-bottom: 1em;
	margin-top: 1.3em;
	padding-bottom: 0.3em;
	text-transform: uppercase;
	width: fit-content;
}

.larger {
	font-size: 150%;
}

.print {
	display: none;
}

.shadow {
	box-shadow: 0 0 15px #bbb;
}

.smaller {
	font-size: smaller;
}

.redcomments .comment,
.error {
	color: #C00 !important;
}

.prism-atom-dark .error {
	color: #F44 !important;
}

.warning {
	color: #960 !important;
}

.notice {
	color: #080 !important;
}

.x-scroll {
	max-width: 100%;
	overflow-x: auto;
}

body .purple {
	border-color: #96F;
	color: #96F;
}

body .navy {
	border-color: #39F;
	color: #39F;
}

body .orange {
	border-color: #F60;
	color: #F60;
}

body .green {
	border-color: #393;
	color: #393;
}

body .brown {
	border-color: #963;
	color: #963;
}

body .keyword {
	color: #3200ff;
}

figure.console pre {
	background-color: black;
	background-image: url(../img/console-top.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	color: #ddd;
	display: inline-block;
	font-family: Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 0.8em;
	line-height: 1.357em;
	min-width: 25rem;
	padding-top: 3.5rem;
	width: 40rem;
}

figure.console code {
	min-width: 25rem;
}

.greenline {
	border-bottom: 2px solid #090;
}

.redline {
	border-bottom: 2px solid #900;
}

.xl {
	font-size: 1.5em;
}

/* widths */

span.indent {
	padding: 10px;
}

body main .w-50 {
	max-width: 100%;
	overflow-x: auto;
	width: 5rem;
}

body main .w-100 {
	max-width: 100%;
	overflow-x: auto;
	width: 10rem;
}

body main .w-150 {
	max-width: 100%;
	overflow-x: auto;
	width: 15rem;
}

body main .w-200 {
	max-width: 100%;
	overflow-x: auto;
	width: 20rem;
}

body main .w-220 {
	max-width: 100%;
	overflow-x: auto;
	width: 22rem;
}

body main .w-250 {
	max-width: 100%;
	overflow-x: auto;
	width: 25rem;
}

body main .w-300 {
	max-width: 100%;
	overflow-x: auto;
	width: 30rem;
}

body main .w-350 {
	max-width: 100%;
	overflow-x: auto;
	width: 35rem;
}

body main .w-400 {
	max-width: 100%;
	overflow-x: auto;
	width: 40rem;
}

body main .w-450 {
	max-width: 100%;
	overflow-x: auto;
	width: 45rem;
}

body main .w-500 {
	max-width: 100%;
	overflow-x: auto;
	width: 50rem;
}

body main .w-550 {
	max-width: 100%;
	overflow-x: auto;
	width: 55rem;
}

body main .w-600 {
	max-width: 100%;
	overflow-x: auto;
	width: 60rem;
}

body main .w-650 {
	max-width: 100%;
	overflow-x: auto;
	width: 65rem;
}

body main .w-700 {
	max-width: 100%;
	overflow-x: auto;
	width: 70rem;
}

body main .w-750 {
	max-width: 100%;
	overflow-x: auto;
	width: 75rem;
}

body main .w-800 {
	max-width: 100%;
	overflow-x: auto;
	width: 80rem;
}

body main .w-900 {
	max-width: 100%;
	overflow-x: auto;
	width: 90rem;
}

body main .w-1000 {
	max-width: 100%;
	overflow-x: auto;
	width: 100rem;
}

body main .w-1100 {
	max-width: 100%;
	overflow-x: auto;
	width: 110rem;
}

body main .w-1200 {
	max-width: 100%;
	overflow-x: auto;
	width: 120rem;
}

/* heights */

.h-200 {
	height: 200px;
	overflow-y: auto;
}

.h-250 {
	height: 250px;
	overflow-y: auto;
}

.h-300 {
	height: 300px;
	overflow-y: auto;
}

.h-400 {
	height: 400px;
	overflow-y: auto;
}

.h-500 {
	height: 500px;
	overflow-y: auto;
}

.h-600 {
	height: 600px;
	overflow-y: auto;
}

.h-700 {
	height: 700px;
	overflow-y: auto;
}

.h-800 {
	height: 800px;
	overflow-y: auto;
}

/* TAG-CLASSES */

/* markers */

.marker {
	border: 3px solid #688031;
	opacity: 0.8;
	position: absolute;
}

code mark {
	background: none;
	border: 3px solid #688031;
	opacity: 0.8;
	padding: 2px 5px;
}

/* lists */

main ul {
	margin-bottom: 1.2em;
}

ul {
	list-style: square;
}

ul ul {
	margin: 0;
}

ul ul:not(.lower-latin) {
	list-style: none;
	padding-left: 0;
}

ul ul:not(.lower-latin) li::before {
	content: '— ';
}

ul:not(.arrow) ul:not(.lower-latin) li::before {
	margin-left: 30px;
}

ul ul li {
	font-size: 0.9em;
}

ul.lower-latin {
	padding-left: 4em;
	list-style: lower-latin;
}

ul:has(.arrow, .right, .warn, .wrong) {
	padding: 0;
}

ul.arrow,
li.arrow {
	list-style-type: none;
	margin-top: 0.5em;
	margin-left: 4rem;
	padding: 0;
}

ul.arrow>li::before,
li.arrow::before {
	content: '⮚ ';
}

ul.arrow>li::first-letter,
li.arrow::first-letter {
	margin-left: -2rem;
}

ul li.right,
ul li.warn,
ul li.wrong,
ul.right,
ul.warn,
ul.wrong {
	list-style-type: none;
	margin-top: 0;
	margin-left: 2rem;
	padding: 0;
}

ul ul li.right,
ul ul li.warn,
ul ul li.wrong,
ul ul.right,
ul ul.warn,
ul ul.wrong {
	margin-left: 0;
}

ul.right>li::before,
ul.warn>li::before,
ul.wrong>li::before,
ul li.right::before,
ul li.warn::before,
ul li.wrong::before {
	margin-right: 1rem;
}

ul.right>li::before,
ul ul.right>li::before,
ul li.right::before,
ul ul li.right::before {
	color: #0c0;
	content: "✓";
}

ul.warn>li::before,
ul ul.warn>li::before,
ul li.warn::before,
ul ul li.warn::before {
	color: #c90;
	content: "⚠";
}

ul.wrong>li::before,
ul ul.wrong>li::before,
ul li.wrong::before,
ul ul li.wrong::before {
	color: #c00;
	content: "✗";
}

/* youtube video's */

iframe.youtube {
	border: 1px solid #ccc;
	box-shadow: 0 0 10px #0009;
}

.youtube_toc>ul {
	font-size: 14px;
	list-style: square;
	margin: 0;
	padding-left: 2em;
}

#toc ul ul li::before {
	content: '';
	margin-left: inherit;
}

#toc ul ul li {
	font-size: 1em;
}

/* flex containers */

.flexcontainer {
	align-items: flex-start;
	column-gap: 30px;
	justify-content: flex-start;
	row-gap: 10px;
}

.flexcontainer.wrap {
	flex-wrap: wrap;
}

/* n00b/pro switch's */

body:not(.showpro) .pro {
	display: none !important;
}

html body .em {
	background-color: #ddd;
	color: #564826;
	padding: 1px 0.2rem;
}

html body .small {
	font-size: smaller;
	font-style: italic;
}

/* tips */

.tips {
	background-color: #eee;
	border: 0.2rem dashed #999;
	margin-bottom: 1em;
	max-width: 100%;
	padding: 3rem 5rem 1rem 2rem;
	position: relative;
	width: fit-content;
}

.tips:not([data-caption]) {
	padding: 1rem 5rem 1rem 4.5rem;
}

.tips> :first-child {
	margin-top: 1em;
}

.tips::before {
	content: attr(data-caption);
	font-size: 1.8rem;
	left: 0.5rem;
	position: absolute;
	top: 1.5rem;
}

.tips:not([data-caption])::before {
	content: attr(data-icon);
	font-size: 3rem;
}

.tips.topmessage {
	margin: 0 2.5rem;
}

/* blockquotes */

blockquote {
	border-left: 0.5rem solid #ccc;
	font-style: italic;
	margin: 1.5rem 0;
	padding: 0.5rem 1rem;
}

blockquote.dotted {
	border: 4px dotted #ccc;
	font-size: 1.2em;
	font-style: italic;
	margin-left: 0;
	padding: 10px 20px;
}

blockquote.greenbig {
	background-color: #efe6;
	border: 3px dashed #999;
	font-size: larger;
	margin-bottom: 1em;
	padding: 0.5em 2em;
	text-align: center;
	width: fit-content;
}

/* back to top */

#up {
	bottom: 1rem;
	color: #666;
	font-size: 3rem;
	position: fixed;
	right: 1rem;
	transition: color 0.3s;
}

#up:hover {
	color: #333;
}

/* NAV */

.site__nav {
	column-gap: 2.5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow-x: auto;
	padding: 3rem 0;
	row-gap: 3rem;
}

.main__thumb {
	align-items: center;
	background-color: #e1d9c0;
	border: 0.4rem solid #eee;
	box-shadow: 0 0 1rem rgb(0 0 0 / 15%);
	color: #333;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	font-family: 'League Gothic', sans-serif;
	justify-content: flex-start;
	min-width: 16rem;
	padding: 1.65rem 0.8rem;
	text-decoration: none;
	text-shadow: 0 0.2rem 0.2rem rgb(150 150 150 / 71%);
	text-transform: uppercase;
	transition: all .2s linear;
	width: 16rem;
}

.main__thumb:hover,
.main__thumb.active {
	border-color: #c0a86e;
	text-decoration: none;
}

.thumb__title {
	font-size: 2rem;
	font-weight: normal;
	margin-bottom: 1.2rem;
	margin-top: 0;
	white-space: nowrap;
}

.thumb__visual {
	display: block;
	width: 50%;
}

/* condensed version */

.site__nav.condensed:not(:hover) {
	padding: 0.4rem 0;
	row-gap: 0.4rem;
}

.condensed .main__thumb {
	min-width: 6rem;
}

.condensed:not(:hover) .main__thumb {
	border: 0.2rem solid #eee;
	font-size: 0.5rem;
	margin-bottom: 0;
	padding: 0.8rem 0.4rem;
	width: 4rem;
}

.condensed:not(:hover) .thumb__title {
	font-size: 0.45rem;
	font-weight: normal;
	margin-bottom: 0.3rem;
	margin-top: 0;
	white-space: nowrap;
}

.condensed .thumb__small {
	display: none;
}

/* TABLE OF CONTENTS */

#toc ul {
	list-style: none;
	padding-left: 0;
}

#toc ul ul {
	padding-left: 2.5rem;
}

/* TABLES */

th,
td {
	padding: 0.5rem 2rem 0.5rem 0;
	text-align: left;
}

.top td {
	vertical-align: top;
}

table pre {
	padding: 0.2rem 0.5rem;
	width: 100%;
}

/* light */

table.light tr+tr>td {
	border-top: 1px solid#ccc;
}

table.light th {
	border-bottom: 1px solid #000;
}

table.light td {
	vertical-align: top;
}

table.light th:first-child,
table.light td:first-child {
	min-width: 15rem;
}

/* blue */

table.blue {
	border-collapse: separate;
	border: 1px solid #ccc;
}

table.blue th,
table.blue td {
	padding: 2px 5px;
}

table.blue tr+tr>td {
	border-top: 1px solid#ccc;
}

table.blue th[scope=col] {
	background-color: #3A81BA;
	border-bottom: 1px solid #000;
	color: white;
}

table.blue td,
table.blue th[scope=row] {
	vertical-align: top;
}

table.blue th[scope=row] {
	background-color: #D9D9D9;
	font-size: 0.9em;
	font-style: italic;
	font-weight: normal;
	text-transform: uppercase;
}

table.blue th:first-child,
table.blue td:first-child {
	min-width: 15rem;
}

table.blue tr:nth-child(even) {
	background-color: #E8EDF3;
}

table.blue tr:nth-child(odd) {
	background-color: #CED8E7;
}

/* grey */

table.grey th,
table.grey td {
	border: 1px solid #999;
	padding: 0.5rem 1rem;
	text-align: center;
}

table.grey th {
	background-color: #ddd;
}

table.grey td.grey {
	background-color: #eee;
}

/* table align */

table.left td,
table.left th {
	text-align: left;
}

/* CODE */

code {
	font-family: Consolas, Menlo, Monaco, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
	font-size: 0.9em;
	line-height: 1.357em;
	position: relative;
}

body pre.right,
body div.right,
body pre.wrong,
body div.wrong {
	overflow: visible !important;
	position: relative;
}

body pre.right::after,
body div.right::after {
	color: #0c0;
	content: "✓";
	font-size: 28px;
	left: -10px;
	position: absolute;
	top: -10px;
	z-index: 10;
}

body pre.wrong::after,
body div.wrong::after {
	color: #c00;
	content: "✗";
	font-size: 28px;
	left: -10px;
	position: absolute;
	top: -10px;
	z-index: 10;
}

span.right::before {
	color: #0c0;
	content: "✓";
}

span.wrong::before {
	color: #c00;
	content: "✗";
}

:not(pre)>code {
	/* inline code */
	color: #917230;
}

figure pre {
	margin: 0;
}

figure img {
	margin-bottom: 10px;
}

figure img:not(:last-of-type) {
	margin-right: 20px;
}

.codecompare {
	column-gap: 20px;
}

.codecompare>* {
	margin-top: 0;
	max-width: 100%;
	width: fit-content;
}

.codecompare.top {
	align-items: flex-start;
}

#figCollections div {
	column-gap: 1rem;
	display: flex;
}

#figCollections img {
	height: 12rem;
}

pre {
	border: 1px solid #ccc;
	border-radius: 0.3rem;
	font-weight: 100;
	line-height: 1.9rem;
	margin-bottom: 1em;
	margin-top: 0;
	max-width: 100%;
	padding: 1em;
	position: relative;
	white-space: pre;
}

.target {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 1em;
	position: relative;
}

.target>p {
	margin: 0;
	padding: 0.5em;
}

.target>p+p {
	margin-top: 1em;
}

.range-container-width {
	appearance: none !important;
	background: #999;
	height: 7px;
	margin-top: 10px;
	width: 100%;
}

.range-container-width::-webkit-slider-thumb {
	appearance: none !important;
	background: #333;
	height: 10px;
	width: 10px;
}

/* FOOTER */

footer {
	font-size: 0.8em;
	margin-top: 100px;
	text-align: center;
}

footer img {
	max-width: 300px;
}

.footer__bottom {
	border-top: 3px dotted #ccc;
	margin: 25px;
	max-width: none;
	width: auto;
}

/* MEDIA QUERIES */

@media(width >= 800px) {

	p,
	table {
		max-width: 120rem;
	}

	.flexcontainer {
		display: flex;
	}

	code,
	pre {
		min-width: 550px;
		max-width: 1200px;
		width: fit-content;
	}

	.footer__bottom {
		display: flex;
		justify-content: space-between;
	}
}

@media(width >= 1300px) {

	.codecompare {
		display: flex;
		column-gap: 40px;
	}

}
