pre {
	position: relative;
}

pre.padtop {
	padding-top: 2.5em;
}

[contenteditable] {
	outline: 1px solid transparent !important;
}

body pre[class*="language-"]:has([contenteditable]:focus) {
  border: 1px dashed #666 !important;
}

body.prism pre > code[class*="language-"] {
	font-family: Consolas, Menlo, Monaco, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
	font-size: 0.9em;
	line-height: 1.357em;
	position: relative;
}

/* color scheme mods */

code[class*="language-"] {
	background-color: transparent !important;
}

.token.comment * {
	color: inherit !important;
}

/* toolbar mods */

div.code-toolbar {
	max-width: 100%;
	width: 100%;
}

div.code-toolbar>.toolbar {
	direction: rtl;
	opacity: 1;
	right: 20px;
}

div.code-toolbar>.toolbar * {
	direction: ltr;
}

div.code-toolbar>.toolbar>.toolbar-item {
	margin: 5px;
}

div.code-toolbar>.toolbar>.toolbar-item>span {
	padding: 0;
}

button.copy-to-clipboard-button {
	cursor: pointer;
}

div.code-toolbar>.toolbar>.toolbar-item>span,
div.code-toolbar>.toolbar>.toolbar-item>button {
	background: none;
	box-shadow: none;
	color: #999;
}

div.code-toolbar>.toolbar>.toolbar-item>button:hover {
	opacity: 1;
}

div.code-toolbar>.toolbar>.toolbar-item>button {
	border: 1px solid;
	box-shadow: none;
	line-height: 1.5;
	opacity: 0.8;
	padding: 0 .5em;
}

div.code-toolbar>.toolbar>.toolbar-item>button:hover,
div.code-toolbar>.toolbar>.toolbar-item>button:focus {
	opacity: 1;
}

pre.notoolbar {
	padding: 0.5em 1em;
}

pre.notoolbar + .toolbar .toolbar-item {
	display: none !important;
}

/* hystmodal mods */

.hystmodal iframe {
	min-height: 700px;
	width: 100%;
}

.hystmodal__window {
	width: 1200px;
	max-width: 90vw;
}

/* fancybox mods */

[data-fancybox] {
	cursor: pointer;
}

/* MEDIA QUERIES */

@media(width >= 800px) {

	div.code-toolbar {
		width: fit-content;
	}

}
