:root {
   --primary-color: #faf5e6;
   --secondary-color: rgb(153  51  150);
}

body {
   background-color: var(--primary-color);
   color: #222;
}

table pre {
	border: none;
   margin: 0;
   min-width: 0;
	padding: 0;
}

table {
   background-color: #fff;
   border: 4px solid #fff;
   border-radius: 3px;
   box-shadow: 1px 1px 3px rgb(0  0  0 / 10%);
   margin-bottom: 10px;
	max-width: 1400px;
	width: 100%;
}

table img {
   max-width: 300px;
}

section {
   break-inside: avoid;
   padding: 10px 0;
	width: 100%;
}

caption {
   color: var(--secondary-color);
   padding: 5px 10px;
   text-align: left;
}

tbody tr:not(:last-child) td {
	border-bottom: 1px solid #ddd;
}

td {
   border: none;
	padding: 8px 4px;
   vertical-align: top;
}

th {
	padding: 8px 4px;
}

.toolbar {
	display: none;
}

div.code-toolbar {
	width: 100%;
}

div.code-toolbar pre {
	padding: 5px 10px;
	width: 100%;
}
