body {
	padding: 20px;
}
p {
	margin-top: 0;
}
#myControls a {
	color: #666;
	padding: 5px 10px;
	border: 1px solid;
	text-decoration: none;
	background-color: #ddd;
}
#inpSeek {
	width: 320px;
}
video {
	width: 320px;
	height: 240px;
	transition: all 0.5s ease-in-out;
}
video.funky {
	transform: rotateZ(10deg);
	box-shadow: 10px 10px 33px 0px rgba(0,0,0,0.75);
}
