/*
 * Styles
 *
 * @author Rogier van der Linde <rogier@bitmatters.be>
 */

/* ===========================================
	Generic
	=========================================== */

/* reset */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

fieldset {
	border: 0;
}

p, div.qstn {
	margin-bottom: 1em;
}

/* ===========================================
	General
	=========================================== */

/* elements */

body {
	font-family: Lato, arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	padding: 10px 20px;
}

h1 {
	font-weight: normal;
	padding-bottom: 10px;
}

a {
	color: #62954b;
}

a:hover {
	color: #7bbb5e;
}

/* ===========================================
	Form styles
	=========================================== */

/* elements */

form, #thankyou {
	background-color: #fafafa;
	font-family: Lato;
	margin: 0 auto;
	max-width: 60rem;
	padding: 30px;
}

fieldset {
	margin-bottom: 20px;
	margin-top: 10px;
}

label {
	display: block;
	font-family: Lato, Arial;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 5px;
	margin-top: 10px;
}

legend {
	height: 24px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

input, select {
	border: 1px solid rgba(0, 0, 0, .08);
	color: #444;
	display: block;
	font-size: 14px;
	height: 30px;
	line-height: 20px;
	outline: 0;
	padding: 5px 10px;
	width: 100%;
}

input[type=radio], input[type=checkbox], [type=submit] {
	width: auto;
	height: auto;
	margin-right: 10px;
}

input[type=radio], input[type=checkbox] {
	display: inline;
}

[type=submit] {
	background-color: #fff;
	cursor: pointer;
	border: 3px #7bbb5e solid;
	color: #7bbb5e;
	line-height: 14px;
	float: right;
	text-transform: uppercase;
}

input[type=submit]:hover {
	background-color: #7bbb5e;
	color: #fff;
}

/* classes */

.input--half {
	width: 50%;
}

.message {
	font-style: italic;
	color: #777;
	margin-bottom: 0;
}

.message--error {
	color: #c00;
}

.label--checkbox, .label--radio {
	font-weight: normal;
}

.label--checkbox input, .label--radio input {
	font-weight: normal;
}

.label--radio {
	display: inline-block;
}

.label--checkbox + .label--checkbox {
	margin-top: 0;
}

.label--radio + .label--radio {
	margin-left: 20px;
	margin-top: 0;
}

.invalid {
	box-shadow: 0 0 3px 0 rgba(227, 64, 100, 0.8);
}

.valid {
	box-shadow: 0 0 3px 0 rgba(64, 227, 100, 0.8);
}

/* specific */

#zip {
	max-width: 20rem;
}

#country {
	max-width: 30rem;
}

#qstInterests_inp_other {
	display: none;
}

#summary {
	padding: 0 20px;
	background-color: rgba(227, 64, 100, 0.2);
	border: 4px ridge;
	border-color: rgba(227, 64, 100, 0.2);
	height: 1px;
	overflow: hidden;
	transition: opacity 1s, padding 1s, height 1s;
	opacity: 0;
}

#summary.show {
	padding: 20px;
	height: auto;
	opacity: 1;
	margin: 10px 0 30px 0;
}

#thankyou {
	display: none;
}

#thankyou__message {
	padding: 20px;
	background-color: rgba(64, 227, 100, 0.2);
	border: 4px ridge;
	border-color: rgba(64, 227, 100, 0.2);
	margin: 10px 0 30px 0;
}

